PELADEX_DATABASE_URL=sqlite:///./peladex.db
PELADEX_COOKIE_SECURE=false
PELADEX_COOKIE_SAMESITE=lax
PELADEX_SESSION_TTL_DAYS=30
PELADEX_CORS_ORIGINS=http://localhost:5173

PELADEX_RATE_LIMIT_ENABLED=true
PELADEX_RATE_LIMIT_LOGIN=5/minute
PELADEX_RATE_LIMIT_REGISTER=3/minute
PELADEX_RATE_LIMIT_PUBLIC=30/minute
